In [6]:
import BASE as bs
import pandas as pd

df = pd.read_excel(bs.path.p_1782, header= None)
df.head()

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,473128,BALAS REGALIZ FINI 80GR TUBES MORANGO,CX/0012/UN,CX,1,13,32,1,102,898,862,843,"INTEIRO(1,90)",544,30,90,-454,-83.455882
1,473164,BALAS GELAT FINI 80GR SAPO,CX/0012/UN,CX,1,13,34,1,102,796,661,658,"INTEIRO(1,90)",390,26,78,-312,-80.000000
2,473177,CHICLE FINI 80GR OVOS DINOSSAURO,CX/0012/UN,CX,1,13,30,1,101,967,883,885,"INTEIRO(1,90)",390,32,96,-294,-75.384615
3,473126,BALAS GELAT FINI 80GR URSINHOS,CX/0012/UN,CX,1,13,32,1,101,1022,826,792,"INTEIRO(1,90)",390,33,99,-291,-74.615385
4,473163,BALAS GELAT FINI 80GR POLVO,CX/0012/UN,CX,1,13,36,1,102,869,196,563,"INTEIRO(1,90)",390,24,72,-318,-81.538462