CELULA DE IMPORT

In [2]:
from path_arquivos import *
import pandas as pd
df = pd.read_csv(ar_csv.ar_07, names= col_name.c07)

In [3]:

display(df.loc[df["COD"] == 474778])

,COD,DESCRICAO,DEP,RUA,PREDIO,NIVEL,APTO,EMBALAGEM,CAP,P_REP,QTDE_O.S,PICKING,PULMAO,ENDERECO,GERENCIAL
42424,474778,LA ACO BOMBRIL 6UN,1.0,16.0,5.0,1.0,101.0,PT/0020/UN,32.0,8.0,10,4349,209,"4.558,00","4.467,00"