CELULA DE IMPORT

In [ ]:
from path_arquivos import *
import pandas as pd

df_28 = pd.read_excel(ar_xlsx.ar_28, usecols= ['CODPROD', 'DESCRICAO', 'ENDERECO_ORIG', 'RUA', 'PREDIO', 'NIVEL', 'APTO','RUA_1', 'PREDIO_1', 'NIVEL_1', 'APTO_1', 'QT', 'POSICAO', 'CODFUNCOS', 'CODFUNCESTORNO', 'Tipo O.S.'])
df_28 = df_28.loc[(df_28['NIVEL'].between(2,8)) & (df_28['Tipo O.S.'] == '58 - Transferencia de Para Vertical')]
df_28[['CODFUNCESTORNO', 'CODFUNCOS']] = df_28[['CODFUNCESTORNO', 'CODFUNCOS']].fillna(0).astype(int)
df_28['ID_COD'] = df_28['ENDERECO_ORIG'].astype(str) + " - " + df_28['CODPROD'].astype(str)

df_aereo = pd.read_csv(ar_csv.ar_end, header= None, names= col_name.cEnd)
df_aereo = df_aereo[['COD_END', 'COD', 'QTDE', 'ENTRADA', 'SAIDA']]
df_aereo['ID_COD'] = df_aereo['COD_END'].astype(str) + " - " + df_aereo['COD'].astype(str)

df = df_28.merge(df_aereo, left_on= 'ID_COD', right_on= 'ID_COD', how= 'left').fillna(0).drop(columns=['COD_END', 'COD'])

VALIDAÇÃO

In [40]:
x = df.groupby('ID_COD').agg(
    total = ('QTDE', 'sum')
)

display(df.columns)
display(df.dtypes)
display(x)

Index(['CODPROD', 'DESCRICAO', 'ENDERECO_ORIG', 'RUA', 'PREDIO', 'NIVEL',
       'APTO', 'RUA_1', 'PREDIO_1', 'NIVEL_1', 'APTO_1', 'QT', 'POSICAO',
       'CODFUNCOS', 'CODFUNCESTORNO', 'Tipo O.S.', 'ID_COD', 'QTDE', 'ENTRADA',
       'SAIDA'],
      dtype='object')

CODPROD             int64
DESCRICAO          object
ENDERECO_ORIG       int64
RUA                 int64
PREDIO              int64
NIVEL               int64
APTO                int64
RUA_1               int64
PREDIO_1            int64
NIVEL_1             int64
APTO_1              int64
QT                float64
POSICAO            object
CODFUNCOS           int64
CODFUNCESTORNO      int64
Tipo O.S.          object
ID_COD             object
QTDE              float64
ENTRADA           float64
SAIDA             float64
dtype: object

                  total
ID_COD
1000024 - 451190    0.0
1000034 - 420520   18.0
1000040 - 455830    0.0
1000051 - 451190    0.0
1000063 - 415842    0.0
...                 ...
1215777 - 444861    0.0
1215778 - 76601     0.0
1216087 - 474150  864.0
1216213 - 451323    0.0
1216464 - 453098    0.0

[1026 rows x 1 columns]