In [27]:
from path_arquivos import *
import pandas as pd

df = pd.read_csv(ar_csv.ar_end, header= None,  usecols= [0,1,2,3,4, 6, 7, 18,19])

df.columns = ['COD_END', 'RUA', 'PREDIO', 'NIVEL', 'APTO', 'COD', 'DESC', 'ENTREDA', 'SAIDA']

In [35]:
cheio = df.loc[df['COD'] != 0]
cheio = cheio.loc[(cheio['ENTREDA'] == 0) & (cheio['SAIDA'] == 0)]

vazio = df.loc[df['COD'] == 0]

display(vazio.head())
display(vazio.dtypes)

    COD_END  RUA  PREDIO  NIVEL  APTO  COD       DESC  ENTREDA  SAIDA
4   1000235    1       1      4   401    0   <VAZIO>         0      0
10  1000129    1       3      3   301    0   <VAZIO>         0      0
17  1000024    1       5      2   202    0   <VAZIO>         0      0
18  1000131    1       5      3   301    0   <VAZIO>         0      0
20  1000239    1       5      4   401    0   <VAZIO>         0      0

COD_END     int64
RUA         int64
PREDIO      int64
NIVEL       int64
APTO        int64
COD         int64
DESC       object
ENTREDA     int64
SAIDA       int64
dtype: object