In [ ]:
from path_arquivos import *
import pandas as pd

df_prod = pd.read_excel(ar_xlsx.ar_96, usecols= ['CODPROD', 'QTUNITCX', 'CAPACIDADE', 'PONTOREPOSICAO','QTTOTPAL'])
df_end = pd.read_csv(ar_csv.ar_end, header= None, names= col_name.cEnd)
grupo = df_end.groupby('COD').agg(
    ENTRADA = ('ENTRADA', 'sum'),
    SAIDA = ('SAIDA', 'sum'),
    QTDE = ('COD_END', 'count')
).reset_index()
df_07 = pd.read_csv(ar_csv.ar_07, header=None, names= col_name.c07)
df_07 = df_07[df_07['RUA'].between(1, 39)]
df = df_07.merge(df_prod, left_on= 'COD', right_on= 'CODPROD', how= 'inner').drop(columns= 'CODPROD')
df = df.merge(grupo, left_on= 'COD', right_on= 'COD', how= 'left')
df[['ENTRADA', 'SAIDA', 'QTDE']] = df[['ENTRADA', 'SAIDA', 'QTDE']].fillna(0).astype(int)
col = ['ENDERECO', 'GERENCIAL']
for coluna in col:
    df[coluna] = df[coluna].str.replace('.' , '')
    df[coluna] = df[coluna].str.replace(',', '.').astype(float)

c:\WS_OLIVEIRA\SCRIPTS\.venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [13]:
df['ENDERECO'] = df['ENDERECO'] + df['ENTRADA']
display(df.columns)
display(df.dtypes)
display(df.head())

Index(['COD', 'DESCRICAO', 'DEP', 'RUA', 'PREDIO', 'NIVEL', 'APTO',
       'EMBALAGEM', 'CAP', 'P_REP', 'QTDE_O.S', 'PICKING', 'PULMAO',
       'ENDERECO', 'GERENCIAL', 'QTUNITCX', 'QTTOTPAL', 'CAPACIDADE',
       'PONTOREPOSICAO', 'ENTRADA', 'SAIDA', 'QTDE'],
      dtype='object')

COD                 int64
DESCRICAO          object
DEP               float64
RUA               float64
PREDIO            float64
NIVEL             float64
APTO              float64
EMBALAGEM          object
CAP               float64
P_REP             float64
QTDE_O.S            int64
PICKING            object
PULMAO             object
ENDERECO          float64
GERENCIAL         float64
QTUNITCX            int64
QTTOTPAL            int64
CAPACIDADE          int64
PONTOREPOSICAO      int64
ENTRADA             int64
SAIDA               int64
QTDE                int64
dtype: object

,COD,DESCRICAO,DEP,RUA,PREDIO,NIVEL,APTO,EMBALAGEM,CAP,P_REP,...,PULMAO,ENDERECO,GERENCIAL,QTUNITCX,QTTOTPAL,CAPACIDADE,PONTOREPOSICAO,ENTRADA,SAIDA,QTDE
0,3201,ADOC ZERO CAL CICLAMATO 100ML,1.0,3.0,24.0,1.0,102.0,CX/0012/UN,396.0,79.0,...,248,309.0,310.0,1,352,396,79,0,0,1
1,3601,AGUA SANITARIA Q-BOA 1LT,1.0,22.0,13.0,1.0,101.0,CX/0012/UN,84.0,14.0,...,141,182.0,180.0,1,70,84,14,0,0,2
2,3801,AGUA SANITARIA Q-BOA 5LT,1.0,22.0,12.0,1.0,102.0,CX/0003/UN,56.0,14.0,...,330,340.0,327.0,1,56,56,14,0,49,6
3,5501,"ARAME ZINCADO MORLAN N 020 F 0,89",1.0,25.0,45.0,1.0,101.0,PT/0010/UN,90.0,9.0,...,0,89.0,89.0,1,90,90,9,0,0,0
4,6001,ARAME PANTANAL MORLAN LISO 1000MT,1.0,25.0,43.0,1.0,102.0,UN/0001/UN,18.0,9.0,...,0,15.0,15.0,1,18,18,9,0,0,0